<div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">Subjects | All</div>
        <div class="panel-body">
            <div class="input-group">
                <a class="btn btn-primary" href="#/subject/new" ng-click="newSubject()"> New Subject</a>
                <input type="text" id="searchText" class="form-control pull-right" placeholder="Search for..." ng-model="search_txt">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <i class="text-muted glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div><!-- /input-group -->
            <div><p style="text-align:center;color:red">{{message}}</p></div>
            <div class="table table-responsive">
                <table class="table table-striped">
                    <thead style="background-color:#333;color:#fff">
                        <tr>
                            <th>Name</th>
                            <th>TeacherName</th>      
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="subject in subjects | filter:search_txt">
                            <td>
                                {{subject.SubjectName}}
                            </td>
                            <td>
                                {{subject.TeacherName}}
                            </td>
                            <td>
                                <a class="btn btn-primary" href="#/subject/{{subject.SubjectID}}">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a id="deleteButton" name="submitForm" class="btn btn-danger"
                                   ng-click="deleteSubject(subject.SubjectID)">
                                    <i class="glyphicon glyphicon-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>